div.contacts-list{
	clear:both;
	border: 2px solid #E7E2D7;
	border-radius: 5px 5px 5px 5px;
	margin: 2px 0 3px;
	padding: 3px 0 3px 5px;
}
div.contacts-list:hover{
	border: 2px solid #C17086;
}
a button img{
	margin:0px;
	border:0px;
}
div.post {
	float:right;
}
div.contacts-list > div.edit_post{
	margin-bottom:2px;
}
div.contacts{
	display:none;
	}
	
 div.contacts-list strong{
	color:#A7A7A7;
	display: table-cell;
	
}
 
div.contacts-list span:before{
	content:":";
	padding: 0 20px;
	color:#A7A7A7;
}
div.contacts-list p{
	color:black;
	display: table-row;
}
.bottomline {
text-align:right;
}
.short{
clear:both;
border:2px solid #E7E2D7;
border-radius: 5px 5px 5px 5px;
margin: 5px 0;
float:left
}
div.short:hover{
	border: 2px solid #C17086;
}
.short p{
	margin:0px;
}
div.contacts-list {
	display: none;
}
div .short-details{
	float: left;
    margin: 5px;
    width: 830px;
}
div .edit_post{
	float: right;
    margin: 5px;
    text-align: right;
    width: 40px;
}
a, a:link, a:visited {
	border:0px;
}
button{
	background: none repeat scroll 0 0 transparent;
    border: medium none;
    margin: 15px 0 0;
}
button:hover{
	background: none repeat scroll 0 0 #E7E2D7;
}

div .edit_post button{
	display:none;
}
div.short:hover .edit_post button{
	display:block;
}

/* div.student-details span:before{
	content:":";
	padding: 0 20px;
	color:#A7A7A7;
}
div .student-details{
	float: left;
    margin: 5px;
    width: 830px;
}
div.student-details p{
	color:black;
	display: table-row;
}
div.student-details strong{
	color:#A7A7A7;
	display: table-cell;
}

 */
 
 .table {
    border: 2px solid #E7E2D7;
    border-radius: 5px 5px 5px 5px;
    clear: both;
    float: left;
    margin: 5px 0;
    
}
div.table:hover{
	border: 2px solid #C17086;
}
div.table:hover .edit_post button{
	display:block;
}
table {
	width:100%;
	display:table;
}
div .table-header{
	float: left;
	margin: 5px;
	width: 830px;
}

* div.table:hover span:after{
	content:"|";
  	padding: 0 20px;
	color:#A7A7A7;
}
table td {
	color:black;
}
table th {
	color:#A7A7A7;
}
table td, th{
 	text-align:center;
 	width: 20%;
 }
button#ADD{
	margin: 0;
}